This project is a Zombie Apocalypse simulator that takes the number of days the simulation should run, the number of initial zombies there are, the location they start from, the probability that an ignorant person will be bitten, and the probability that an alarmed person will be bitten as parameters. 

This solution uses a binary search tree (BST) to organize the districts within SimVille rather than using the suggested queue. Queues are well-suited to emergency room simulators and the implementations of the other prompts but aren’t ideal for a zombie apocalypse. A BST is more flexible in laying out the districts within SimVille and allows for a denizen to efficiently move through more than one district per time click. A queue would require keeping track of how each district is connected to the others and what traversals can be made, but a BST is constructed with those traversals already a part of the data structure. 

One hashtable is used to be keep track of the denizens in relation to where they are. The key is the denizen and the value is a location enum. Denizens are all derived from the same abstract class and broken into the categories of Ignorant, Alarmed, and Zombie. 

Problems 
Class structure - Eli 
The ignorant citizen’s journey to work and back home - Eli 
The aimless shuffling of the alarmed and the zombies -- should think about implementing how long the alarmed feel that it’s safe to stay in one place - Eli 
Schematics for time clicks - Lauren
- Morning, afternoon, night 
Probability that someone will be bitten 
Probability that someone will be alarmed 
Probability that attempted bite fails
One (attempted) bite per alarmed denizen per time click - Lauren 
One (attempted) bite per zombie per time click - Lauren 

Advanced mode? 
The zombies have eaten so many brains that they’ve gained some themselves! Now they’re targeting specific members of the population (e.g., lawmakers, influencers) to corral all their victims into one area for a final feast--but look out, the alarmed citizens are becoming informed, and they’re ready to fight back. 

SimVille
-
Has districts with a specific layout
Can initialize districts and fill with denizens
Can create a simulation with a varying number of starting zombies, denizens
Simulation runs until all denizens are zombies
Days are split into morning, workday, and evening.


District
-
Has a group of citizens that live/work there
Has exits to other districts to the north, south, east, and/or west
Has a unique district name


Denizen
-
Has a status (ignorant, alarmed, or zombie)
Has a home location and a work location
Goes to work location during the workday
??? Recursive algorithm (w/ backtracking) to traverse the districts? Or just hardcode the route into an array ???

- Ignorant - 
Goes to work, then returns home at the end of the day 
Goes straight to work or home per time click 

- Alarmed -
Does not return home
Once per tick, alarms another denizen in their district
Can move two districts per time click 

- Zombie -
Moves randomly throughout the city
Once per tick, attempts to bite and infect a non-zombie denizen
Can move only one district per time click 
